<tr>
  <td>
      #
  </td>
  <td>
      <a>
        <%= project.name %>
      </a>
      <br/>
      <small>
        <%= project.created_at %>
      </small>
  </td>
  <td>
    <ul class="list-inline">
      <%= render partial: "company_projects/division", collection: project.divisions %>
    </ul>
  </td>
  <td class="project_progress">
      <div class="progress progress-sm">
          <div class="progress-bar bg-green" role="progressbar" aria-volumenow="57" aria-volumemin="0" aria-volumemax="100" style="width: 57%">
          </div>
      </div>
      <small>
          57% Complete
      </small>
  </td>
  <td class="project-state">
      <span class="badge badge-success">Success</span>
  </td>
  <td class="project-actions text-right">
      <a class="btn btn-primary btn-sm" href="#">
          <i class="fas fa-folder">
          </i>
          View
      </a>
      <a class="btn btn-info btn-sm" href="#">
          <i class="fas fa-pencil-alt">
          </i>
          Edit
      </a>
      <a class="btn btn-danger btn-sm" href="#">
          <i class="fas fa-trash">
          </i>
          Delete
      </a>
  </td>
</tr>
