<div class="modal fade" id="show_dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div style="height: 40px; padding: 10px 15px 0px 15px;">
        <h6 id="title_dialog" style="font-weight: 900">Title</h6>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1; background-color: white;">
        <span aria-hidden="true">&times;</span>
      </button>
    <div id="modal_body" class="container">
    </div>
  </div>
</div>
