<div id="message" data-channel-subscribe="room" class="direct-chat-messages" data-chat-room-id="<%= room_chat.id %>" style="height: 500px;">

  <%= render partial: "room_chats/message", collection: @messages %>
</div>
<div id="pagi-show" style="display: none;">
  <%= will_paginate @messages %>
</div>
<div id="pagi-show" style="display: none;">
  <%= will_paginate @messages %>
</div>
<div id="loading" class="text-center" style="position: absolute; bottom: 0px; width: 100%; display: none;">
    <img src="/assets/loading.gif" style="height: 50px;" />
</div>
