<div id="message" data-channel-subscribe="room" class="direct-chat-messages" data-chat-room-id="<%= room_chat.id %>" style="height: 500px;" >
  <%= render partial: "room_chats/message", collection: room_chat.messages %>
</div>

