<div class="card-primary">
  <div class="card-header">
    <h3 class="card-title"><strong>Request</strong></h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <strong></i>Group Name</strong>
    <p class="text-muted">
      <span class="tag tag-danger"><%= @group.name %></span>
    </p>
    <hr>
    <strong></i>Division Name</strong>
    <p class="text-muted">
      <span class="tag tag-danger"><%= @group.division.name%></span>
    </p>
    <hr>
    <strong></i>Description</strong>
    <p class="text-muted">
      <span class="tag tag-danger"><%= @group.description %></span>
    </p>
  </div>
<!-- /.card-body -->
</div>
