<% provide(:title, t(".begin_title")) %>
<div id="my_container" class="content-wrapper">
  <!-- Content Header (Page header) -->
  <%= render partial: "shared/head_profile", locals: {path1: "#", title: "Manage User", link1: "Manage User", link2: "Create new a user"}%>
  <!-- Main content -->
  <%= render partial: "manage_projects/form", locals: {group: @group, path: manage_project_path} %>
  <!-- /.content -->
</div>
