<% provide(:title, t(".begin_title")) %>
<div id="my_container" class="content-wrapper">
  <!-- Content Header (Page header) -->
  <%= render partial: "shared/head_profile", locals: {path1: manage_projects_path, title: "Create Group Project", link1: "Manage Group Project", link2: "Create Group Project"}%>
  <!-- Main content -->
  <%= render partial: "manage_projects/form", locals: {group: @group, path: manage_projects_path} %>
  <!-- /.content -->
</div>
