.rep{
	margin-left: 30px;
	font-size: 13px;
	font-weight: 900;
	color: red;
}

.to {
	margin-left: 30px;
	font-size: 13px;
	font-weight: 900;
	color: #36b317;
}

.direct-chat-name{
	color: blue;
}

.size-min{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

#item_list_chat .list-group-item.list-group-item-action{
  margin: 0px;
  border-bottom: 1px;
  line-height: 40px;
  padding: 10px 5px 10px 10px;
}

.badge{
  height: 19px;
}
.avatar {
  max-height:30px;
}

.avatar-max {
  max-height: 60px;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    width: 300px;
    padding:10px;
    left: -100px;
}

.user-header{
  padding: 10px;
}

.footer-user-profile{
  margin-top: 10px;
}
