#task-calendar .calendar-heading {
    text-align: center;
}

#task-calendar .calendar-heading a{
  color: #FAFAFA;
}

#task-calendar .calendar-heading span{
  color: #FAFAFA;
  font-weight: 800;
  font-size: 30px;
}
