input#user_password {
    width: 280px;
}

.create{
  margin: 20px 0px;
}

img.table-avatar {
    height: 44px;
    margin: 0px;
    width: 50px;
}

.content-wrapper {
  height: 500px;
  min_height: none;
}

.hidden_content td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#profile_drop {
    position: absolute;
    width: 300px;
    padding: 10px;
    left: -150px;
}

#notifi-show {
    position: absolute;
    min-width: 397px;
    left: -330px;
    max-height: 500px;
    overflow: auto;
}
