<li class="nav-item active">
  <%= link_to group_path(group.id), {class: "nav-link", remote: true} do %>
    <span class="badge bg-primary"><%= group_counter + 1 %></span>
    <%= group.name %>
  <% end %>
</li>
